<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="com.loop.qa.yoda.reporting.ExtentReporterNG" />
 </listeners>
  <test name="LoopTests">
    <classes>
   	<!-- <class name="com.loop.qa.yoda.test.LoginPageTest"/> -->
   	<!-- <class name="com.loop.qa.yoda.test.RegistrationTest"/> -->
   	 <!--  <class name="com.loop.qa.yoda.test.CreatePageTest"/> -->
   	 <!-- <class name="com.loop.qa.yoda.test.EmployeePulseCheckTest"/> -->
   	 <class name="com.loop.qa.yoda.test.CreatePageTest"/>
   	 
    </classes>
  </test> createFeedback
</suite>
